[user]
	email = keitam913@yahoo.co.jp
	name = Mizuochi Keita
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[pull]
	ff = only
[credential]
	helper = /git-credential-github-apps -privatekey /ci-secrets/github-app-datachain-ci-private-key -appid 659024 -login datachainlab
[advice]
	detachedHead = false
[safe]
	directory = /working
	directory = /tmp
